# MongoDB with Python

In [9]:
import pymongo
from pymongo import MongoClient
client = MongoClient('localhost', 27017)

In [10]:
# show existing databases
client.list_database_names()

['admin', 'config', 'local']

In [11]:
#create a new database and collection
db = client.peopledb
db.list_collection_names()

[]

In [12]:
#open an existing database
db2 = client.bball
db2.list_collection_names()

[]

In [13]:
#create a new collection
peoplecoll = db.people
type(peoplecoll)

pymongo.collection.Collection

In [14]:
#Access an existing collection
bbcoll = db2.bbcolldvl
type(bbcoll)

pymongo.collection.Collection

In [15]:
peoplelist = [{ "name": "John Smith", "age": 30 }, { "name": "Bo Bennett", "age": 23 }, { "name": "Anna Jones", "age": 25 }]
peoplecoll.insert_one({ "name": "John Smith", "age": 30 })

In [16]:
 peoplecoll.insert_many(peoplelist[1: ])

In [17]:
docs = peoplecoll.find()
print(type(docs))

for doc in docs:
    print(doc)

<class 'pymongo.cursor.Cursor'>
{'_id': ObjectId('64650a65526af5124c107b54'), 'name': 'John Smith', 'age': 30}
{'_id': ObjectId('64650a66526af5124c107b55'), 'name': 'Bo Bennett', 'age': 23}
{'_id': ObjectId('64650a66526af5124c107b56'), 'name': 'Anna Jones', 'age': 25}

In [18]:
morepeoplelist = [{ "name": "Britney Sykes", "age": 21 ,'position':'Guard'}, { "name": "Briana Day", "age": 21,'position':'Center'}, { "name": "Alexis Peterson", "age": 21,'position':'Guard' }, { "name": "Gabby Cooper", "age": 18,'position':'Guard'}]
peoplecoll.insert_many(morepeoplelist)

In [19]:
docs = peoplecoll.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('64650a65526af5124c107b54'), 'name': 'John Smith', 'age': 30}
{'_id': ObjectId('64650a66526af5124c107b55'), 'name': 'Bo Bennett', 'age': 23}
{'_id': ObjectId('64650a66526af5124c107b56'), 'name': 'Anna Jones', 'age': 25}
{'_id': ObjectId('64650a68526af5124c107b57'), 'name': 'Britney Sykes', 'age': 21, 'position': 'Guard'}
{'_id': ObjectId('64650a68526af5124c107b58'), 'name': 'Briana Day', 'age': 21, 'position': 'Center'}
{'_id': ObjectId('64650a68526af5124c107b59'), 'name': 'Alexis Peterson', 'age': 21, 'position': 'Guard'}
{'_id': ObjectId('64650a68526af5124c107b5a'), 'name': 'Gabby Cooper', 'age': 18, 'position': 'Guard'}

In [20]:
# find all the documents where the position field has value ‘Guard’
results = peoplecoll.find({'position':'Guard'})
for result in results:
    print(result)

{'_id': ObjectId('64650a68526af5124c107b57'), 'name': 'Britney Sykes', 'age': 21, 'position': 'Guard'}
{'_id': ObjectId('64650a68526af5124c107b59'), 'name': 'Alexis Peterson', 'age': 21, 'position': 'Guard'}
{'_id': ObjectId('64650a68526af5124c107b5a'), 'name': 'Gabby Cooper', 'age': 18, 'position': 'Guard'}

### Insert new values in MongoDB

In [21]:
# Build a MongoDB with the list provided. Load the items into a Mongodb, and 
# then select the entries with age under 20 and display them. Use jupyter 
# notebook to write your code and experiment with retrieving pieces of data.

peoplelist = [{ "name": "Britney Sykes", "age": 21 , 'position':'Guard'}, 
              { "name": "Briana Day", "age": 19, 'position':'Center'}, 
              { "name": "Alexis Peterson", "age": 21, 'position':'Guard' }, 
              { "name": "Gabby Cooper", "age": 18, 'position':'Guard'}]

### Insert command with list

In [22]:
peoplecoll.insert_many(peoplelist)

### Display results with filter

In [30]:
# select the entries with age under 20 and display them
query = {"age": {"$lt": 20}}
result = peoplecoll.find(query)
for item in result:
    print(item)

{'_id': ObjectId('64650a68526af5124c107b5a'), 'name': 'Gabby Cooper', 'age': 18, 'position': 'Guard'}
{'_id': ObjectId('64650c23526af5124c107b5c'), 'name': 'Briana Day', 'age': 19, 'position': 'Center'}
{'_id': ObjectId('64650c23526af5124c107b5e'), 'name': 'Gabby Cooper', 'age': 18, 'position': 'Guard'}