In [1]:
# Using the activity from the lecture, create your own dictionary 
# and dataframe, and stack the data using the following commands:

# Index the table by person
# Stack into a tall object
# Reset the index
# Rename the columns to 'person', 'attribute', 'value'
# Convert back to original using unstack
# Pivot the table

persondict = {'person':['Bob','Alice','Steve'], 'age':[32, 24, 64], 'weight':[128, 86, 95]}

In [7]:
import pandas as pd

df = pd.DataFrame(persondict, columns=['person','age','weight'])
df

  person  age  weight
0    Bob   32     128
1  Alice   24      86
2  Steve   64      95

In [10]:
# Index the table by person
df = df.set_index('person')
df

        age  weight
person
Bob      32     128
Alice    24      86
Steve    64      95

In [11]:
# Stack into a tall object
df_stacked = df.stack()
df_stacked

person
Bob     age        32
        weight    128
Alice   age        24
        weight     86
Steve   age        64
        weight     95
dtype: int64

In [12]:
# Reset the index
reset = df_stacked.reset_index()
reset

  person level_1    0
0    Bob     age   32
1    Bob  weight  128
2  Alice     age   24
3  Alice  weight   86
4  Steve     age   64
5  Steve  weight   95

In [13]:
# Rename the columns to 'person', 'attribute', 'value'
reset.columns=['person', 'attribute', 'value']
reset

  person attribute  value
0    Bob       age     32
1    Bob    weight    128
2  Alice       age     24
3  Alice    weight     86
4  Steve       age     64
5  Steve    weight     95

In [15]:
# Convert back to original using unstack
df_stacked.unstack()

        age  weight
person
Bob      32     128
Alice    24      86
Steve    64      95

In [22]:
# Pivot the table
reset.pivot('person', 'attribute', 'value')

C:\Users\Patrick\AppData\Local\Temp\ipykernel_9256\2231069508.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  reset.pivot('person', 'attribute', 'value')

attribute  age  weight
person
Alice       24      86
Bob         32     128
Steve       64      95